.lb-title {
  color: #A8A8A8;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 300;
}

.lb-content {
  font-size: 12px;
  font-family: sans-serif;
}

.bottom-content {
  margin: 10px;
}

.average {
  color: var(--ion-color-success);
}
