<ion-content class="bg-image" no-scroll padding>
  <div class="flex-center">
    <div class="login-content">
      <img src="/assets/images/logo.png">
      <ion-item>
        <ion-icon name="mail-outline" slot="start" color="danger"></ion-icon>
        <ion-label class="login-label" position="floating">E-mail</ion-label>
        <ion-input type="email" [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="lock-closed-outline" slot="start" color="danger"></ion-icon>
        <ion-label class="login-label" position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
      <br/>
      <ion-button class="btn-login" expand="block" shape="round" color="danger" (click)="login()">Login</ion-button>
      <ng-template [ngIf]="isLoading">
        <ion-spinner name="crescent"></ion-spinner>
      </ng-template>
    </div>
  </div>
</ion-content>
