img {
  height: 50%;
}

ion-card-header {
  padding: 0;
  padding-left: 10px;
  padding-top: 10px;
}

ion-card-subtitle {
  font-size: 12px;
}

ion-card-content {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  clear: both;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  width: 95%;
}

ion-col {
  margin: 0;
  padding: 0;
}

ion-card {
  margin: 10px;
  padding: 0;
}

.grid-title {
  margin-top: 10px;
  margin-left: 10px;
}

ion-icon {
  color: danger;
}
